$menuHeight = 10u

@font-face
  font-family PokemonHollow-Regular
  font-style normal
  src url(public/fonts/PokemonHollow-Regular.ttf)

.sidebar
  background-color #eee

  &-menu
    padding-top 2u

.menu
  background-color white
  height $menuHeight 
  z-index 1
  align-items center
  padding 0 2u

.menuIcon
  border none

.logo
  font-family PokemonHollow-Regular 
  margin-left 2u
  color $UI.colors.primary
  text-shadow 1px 1px yellow
  font(h2)