$menuHeight = 12u

@font-face
  font-family PokemonHollow-Regular
  font-style normal
  src url(public/fonts/PokemonHollow-Regular.ttf)

.sidebar
  &-menu
    padding-top 2u

.menu
  height $menuHeight 
  z-index 1
  align-items center
  padding 0 2u

.menuIcon
  border none

.logo
  position absolute
  left 50%
  margin-left -91.5px
  font-family PokemonHollow-Regular 
  color $UI.colors.primary
  text-shadow 1px 1px yellow
  font(h2)
  +mobile()
    font(h3)
    margin-left -61.5px