.main
  position relative
  width 30u
  height 30u
  overflow hidden

.name
  height 4u
  text-overflow ellipsis
  font(h5)

.mainAvatar
  align-self center

.type
  color: $UI.colors.white
  margin-left 1u
  padding 0 1u
  radius(circle)

  &.grass
    background-color green
  &.poison 
    background-color #7f01fe
  &.normal
    background-color rgba(27, 18, 18, 0.979)
  &.fighting
    background-color #C0C0C0
  &.flying
    background-color #000080
  &.ground
    background-color #8B4513
  &.rock
    background-color #808080
  &.bug
    background-color #CD853F
  &.ghost
    background-color #FDF5E6
  &.steel
    background-color #A9A9A9
  &.fire
    background-color red
  &.water
    background-color blue
  &.electric
    background-color yellow
  &.psychic
    background-color #FF00FF
  &.ice
    background-color #4169E1
  &.dragon
    background-color #800000
  &.dark
    background-color #000000
  &.fairy
    background-color #FF00FF
  &.unknown
    background-color #FFE4E1
  &.shadow
    background-color #696969
  
  

  

  

