.title 
	color $UI.palette.black
	margin-bottom 3u

.inputStyle
	position relative
	margin-bottom 3u

.container
	padding 3u

.errorField
	position absolute
	font(caption)
	top -2u
	color $UI.colors.error