.main
	flex-wrap wrap
	flex-direction row
	justify-content center

.inputStyle
	width 30u
	marginTop 1u
	marginRight 2u
	marginLeft 2u
	
.clearBtn
	width 2u
	height 2u
	position absolute
	right 1u
	top 1u